body {
  height:100vh;
  font-family:  'Open Sans', sans-serif;
}

nav {
  position: absolute;
  left: 0;
  right: 0;
  top:0;
  box-shadow: 0 0 40px 5px rgba(0,0,0,0.5);
  font-family: Inter, Thonburi, Arial, Helvetica, sans-serif
}

nav ul {
  list-style-type: none;
  margin:0;
  margin-right: 40px;
}

nav ul li, nav a {
  float: right;
  display: inline;
  padding: 24px 28px;
  font-size: 20px;
  cursor: pointer;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  transition: 0.4s;
}

nav a {
  float: left;
  margin-left: 40px;
}

nav ul li:hover {
  border-bottom: 2px solid black;
  opacity:0.9;
}
  
.list-inline {
  display: flex;
  text-decoration: none;
  justify-content: space-around;
  margin:20px 0;
  width: 50%;
}

@media only screen and (max-width: 1094) {
  .list-inline {
    width: 100%;
  }

  .navbar-ref {
    color: #808088;
    font-family:  'Open Sans', sans-serif;
    font-size: 14px;
  }
}

a::selection,
span::selection {
  background: #ffb7ff;
}

a::selection,
span::-moz-selection {
  background:#ffb7b7;
} 