
{% extends "base.html" %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<link type="text/css" rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<script src='https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js'></script>

<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/home.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename = 'js/home.js') }}"></script>
<script src="/static/js/home.js"></script>
{% endblock %}

{% block body %}
<div class="container">
  <div class="wrapper fixed-wrapper">
    <section id="terminal">
      <div id="terminal-container">
          <div class="terminal">
              <div class="window-title">
                  <div class="win-buttons">
                      <a id="close" class="button" href="#"></a>
                      <a id="min" class="button" href="#"></a>
                      <a id="max" class="button" href="#"></a>
                  </div>
                  <span class="title">oh-my-zsh</span>
              </div>
              <div class="message">
                  <span class='prompt'><span class='user'>andrew</span><span class="at">@</span><span
                          class="path">/home/andrew/</span>><span class="caret">$</span></span>
                  <span class="typed"></span>
                  <form>><span class="caret">$</span>&nbsp;<input type="text" name="response"/></form>
              </div>
          </div>
      </div>
  </section>
  </div>
  <div class="wrapper scroll-wrapper">
    <div class="top-text">
      <p class="text-title desktop-view">Andrew</p>
      <p class="text-title desktop-view">Nijmeh</p>
      <div class="social-icons">
        <a target="_blank" href="https://github.com/andrewnijmeh">
          <img class="title-logo" src="/static/images/svg/github.svg">
        </a>
        
        <a target="_blank" href="https://twitter.com/andrewnijmeh">
          <img class="title-logo" src="/static/images/svg/twitter.svg">
        </a>
        <a target="_blank" href="https://www.linkedin/in/andrewnijmeh">
          <img class="title-logo" src="/static/images/svg/linkedin-logo.svg">
        </a>
        <a target="_blank" href="https://www.instagram.com/andrew.n212">
          <img class="title-logo" src="/static/images/svg/material_instagram.svg">
        </a>
      </div>
    </div>
    <div class="middle-text">
      <p class="text-content">I am a young an passionate software developer building large-scale software to small weekend projects, I love tinkering with linux, and computer hardware.</p>

      <p class="text-content">
        I work at AuraSide, Inc. as a Junior Software-Developer working on mantle.gg, and hone.gg.
      </p>
      <p class="text-content">
        I am a high school student at Pere Philippe La Marche, And currently studying to get the AWS Developer Associate certifaction.
      </p>
      <p class="text-content">
        I'm a hockey player I speak English, French and I love building discord-bots as a side-hobby.
      </p>
      <p class="text-content">You can find me on <a href="https://www.linkedin.com/in/andrew-nijmeh-1a6726200/">Linkden</a>
        or email me <a href="mailto:andrewnijmeh1@gmail.com?Subject=Hello%20Andrew%20-from-website" target="_top">Here</a>
      </p>

       <br>
    </div>
  </div>
</div>
{% endblock %}