{% extends "base.html" %}

{% block head %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/timeline.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col s12 m4 l8">
      <span class="date">2021</span>
      <ul class="list">
        <li>
          <div class="icon-title">
            <i class="tiny material-icons">School</i>
            <a href="/timeline" class="title">[life] Working out/Exercise</a>
          </div>
          <span class="content">Pog
          </span>
        </li>
        <li>
          <div class="icon-title">
            <i class="tiny-material-icons">Education</i>
            <a href="/timeline" class="title">[edu] AWS Developer Associate</a>
          </div>
          <span class="content">I am studying for the AWS Developer Associate via a course I found.
            So far I have been studying this for almost 1 month!
          </span>
        </li>
        
      </ul>
    </div>
  </div>
</div>
{% endblock %}